{{>layout/header}}

<h1>미션 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for ="adminId">관리자</label>
                <input type="text" class="form-control" id="adminId" value="{{adminId}}" readonly>
            </div>
            <div class="form-group">
                <label for ="mission">미션</label>
                <input type="text" class="form-control" id="mission" placeholder="미션을 입력하세요">
            </div>
            <div class="form-group">
                <label for ="question">질문</label>
                <input type="text" class="form-control" id="question" placeholder="질문을 입력하세요">
            </div>
            <div class="form-group">
                <label for ="info">정보</label>
                <textarea class="form-control" id="info" placeholder="정보를 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for ="imgurl">이미지URL</label>
                <input type="text" class="form-control" id="imgurl" placeholder="이미지URL을 입력하세요. 없다면 비워주세요">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
{{>layout/footer}}