{{>layout/header}}



<div class="col-md-12">
    <h1>이용자 미션 완료 확인</h1>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for ="adminId">관리자</label>
                <input type="text" class="form-control" id="adminId" placeholder="관리자 번호를 입력하세요">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-check">확인</button>
    </div>

    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>이용자 번호</th>
            <th>미션 완료 유무</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td>{{check}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

</div>
{{>layout/footer}}